@import "./../../../styles/variables.module";

.container {
    background: #e2dddd;
    border-radius: $borderRadius;
    color: #0d0363;
    padding: $componentPadding;
    margin: 20px;
}
.logout{
display: flex;
justify-content: flex-end;
    input{
        // border: 5px solid #867f83;
        border-radius: 5px;
        background-color: #e01373;
        color: #ffffff;
    }
}
.content{
    // padding: $componentPadding;
    
}
.title{
    padding: $componentPadding;
    text-align: center;
}