// $themeColor: #f1f1f1;
$fontColor: #f1f1f1;
$fontSize: 26px;
$componentBackgroundColor: #2a41c2;
$componentWidth: 100%;
$componentHeight: auto;
$componentDisplay: flex;
$componentAlignItems: center;
$componentJustifyContent: center;
$componentMargin: 10px;
$componentPadding: 10px;
$borderRadius: 10px;