@import "./../../../styles/variables.module";

.container {
    background: #35d477;
    border-radius: $borderRadius;
    border: 1px solid #111111;
//     color: #0d0363;
//     padding: $componentPadding;
}
.content{
    display: flex;
    justify-content: center;
//     // margin: 10px;
//     padding: $componentPadding;
}
// .title{
//     // margin: 10px;
//     padding: $componentPadding;
// }