@import "./../../../../styles/variables.module";

// .container {
//     background: #35d477;
//     border-radius: $borderRadius;
//     border: 1px solid #111111;
// //     color: #0d0363;
// //     padding: $componentPadding;
// }
// .title{
//     display: flex;
//     justify-content: center;
// //     // margin: 10px;
// //     padding: $componentPadding;
// }
// .content{
//     display: flex;
//     justify-content: space-around;
    
//     height: 100%;
//     // margin: 10px;
//     // padding: $componentPadding;
//     @media (max-width: 655px) {
//         display: block;
//     }
        
    
// }
// .picture {
   
//     img{
//         // background: aliceblue;
//         // color: #e21818;
//         width: 100%;
//         border: 5px solid rgb(223, 8, 8);
//         border-radius: 50%;
        
//     }
//     @media (max-width: 655px) {
//         display: flex;
//         justify-content: center;
//     }
// }
.login {
    display: flex;
    align-items: center;
    // width: 50%;
    @media (max-width: 655px) {
        display: flex;
        justify-content: center;
    }
    
}
// .footer{
//     display: flex;
//     justify-content: center;
// }
.form{
    // align-items: center;
}
.input {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    label{
        display: flex;
        flex-wrap: wrap;
    }
    @media (max-width: 275px) {
        flex-direction: column;
    }
    
}
.submit{
    padding: 10px;
    display: flex;
    justify-content: center;
}