@import "./../../../../../styles/variables.module";

.picture {
   
    img{
        // background: aliceblue;
        // color: #e21818;
        width: 100%;
        border: 5px solid rgb(223, 8, 8);
        border-radius: 50%;
        
    }
    @media (max-width: 655px) {
        display: flex;
        justify-content: center;
    }
}
