@import "./../../../styles/variables.module";

body.active_modal {
    overflow-y: hidden;
}
.form{
    padding: 10px;
}
.modal_container{
    display: flex;
    justify-content: center;
    background: $themeColor;
    padding: 20px;
}
.btn_modal {
    padding: 10px 20px;
    display: block;
    // margin: 100px auto 0;
    font-size: 18px;
    color: #fff;
    background: rgb(47, 145, 47);
    
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    
}

.overlay {
    background: rgba(95, 94, 94, 0.8);
}
.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: $themeColor;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
      @media (max-width: 1400px) {
        height: 100%;
        overflow-y: auto;
      }
        
     
}
.modal_closeButton{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.modal_buttons{
    margin: 10px;
}

