@import "./../../../../../../styles/variables.module";

.container {
   
    transform: scale(0);
    
}
.container_active{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.content{
   padding: 20px;
   border-radius: 25px;
   background: #fff;
   color: #000;
//    height: 100px;
//    width: 100px;
}
