@import "./../../styles/variables.module";

.container {
    background: $componentBackgroundColor;
    color: $fontColor;
    width: 100vw;
    height: 100vh;
    padding: $componentPadding;
    display: $componentDisplay;
    justify-content: center;
    border-radius: $borderRadius;
    align-items: center;
    
}
.content{
    // padding: $componentPadding;
    width: 90vw;
    // height: 500px
    // height: 90vh;
    // display: flex;
    // justify-content: center;
    // height: 90vh;
    // width: 100vw;
    // height: 100vh;
    
}
