@import "./../../../../styles/variables.module";

// .button {
//     margin: 5px;

//     @media (max-width: 767px) {
//         font-size: 6px;
//         margin: 0;
//     }
// }
.searchResultTable li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}